/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.5s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

/* .links-container ul {
  list-style-type: none;
  padding-left: 1.5rem;
  display: flex;
}
li {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
a {
  text-decoration: none;
  margin-right: 1 rem;
} */

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  /* text-transform: capitalize; */
  line-height: 1.25;
  margin: 1rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin: 1rem;
  /* margin-left: 2.5rem; */
  font-size: 1rem;
  line-height: 1.5rem;

  /* color: var(--clr-grey-5); */
}
.btn-link {
  background-color: var(--clr-primary-4);
  color: var(--clr-white);
  padding: 10px;
  border-radius: 20px;
  transition: var(--transition);
  box-shadow: var(--light-shadow);
}
.btn-link:visited {
  background-color: var(--clr-primary-4);
  color: var(--clr-white);
  padding: 10px;
  border-radius: 20px;
  box-shadow: var(--light-shadow);
}
.btn-link:hover {
  background-color: var(--clr-primary-3);
  color: var(--clr-white);
  border-color: var(--clr-primary-3);
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  border-radius: 20px;
  box-shadow: var(--light-shadow);
}

a {
  text-decoration: none;
  color: var(--clr-primary-5);
}
a:visited {
  color: var(--clr-primary-5);
}
a:hover {
  color: var(--clr-primary-3);
  transition: var(--transition);
}
/* for sreens greater than 800px */
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 3rem;
  }
  h1,
  h4 {
    line-height: 1;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  h2,
  h3 {
    margin-top: 3rem;
  }

  a {
    text-decoration: none;
    color: var(--clr-primary-5);
  }
  a:visited {
    color: var(--clr-primary-5);
  }
  a:hover {
    color: var(--clr-primary-3);
    transition: var(--transition);
  }
}

/*
=============== 
Navbar
===============
*/
nav {
  /* background: none; */
  box-shadow: var(--light-shadow);
  /* position: sticky;
  top: 0; */
}
.nav-center {
  max-width: 1170px;
  margin: 0 auto;
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.dark-nav {
  background: grey;
  box-shadow: var(--light-shadow);
  position: sticky;
  top: 0;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  /* color: var(--clr-grey-1); */
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  /* color: var(--clr-primary-1); */
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}
/* .links {
  display: flex;
} */
.links a {
  color: var(--clr-primary-5);
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-4);
  color: var(--clr-white);
  padding-left: 1.5rem;
}
.social-icons {
  display: flex;
  padding-left: 1rem;
  list-style-type: none;
}

.social-icons a {
  text-decoration: none;
  margin: 0 0.5rem;
  color: var(--clr-primary-5);
  transition: var(--transition);
}
.social-icons a:hover {
  color: var(--clr-primary-2);
}
.social-icons svg {
  height: 1.5rem;
  width: 1.5rem;
  transition: var(--transition);
}
.social-icons svg:hover {
  height: 1.5rem;
  width: 1.5rem;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  margin: 1.5rem;
}
.links-container ul {
  list-style-type: none;
}
.links-container a {
  text-decoration: none;
  text-transform: uppercase;
  transition: var(--transition);
}
.show-container {
  height: 10rem;
}
.img-container {
  position: relative;
  width: auto;
  height: 350px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
  /* border-radius: 50%; */
  position: relative;
}
/* big screen */
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }

  .links-container {
    height: auto !important;
  }
  .links-container ul {
    display: flex;
    margin-left: 5rem;
    height: 2rem;
  }
  .links-container li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
    text-decoration: none;
    transition: var(--transition);
  }
  .links a:hover {
    padding: 0;
    background: transparent;
    color: var(--clr-primary-3);
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 3px;
  }
  .social-icons {
    /* display: flex; */
    margin-right: 1rem;
  }
  .social-icons a {
    text-decoration: none;
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .social-icons svg {
    height: 1.5rem;
    width: 1.5rem;
    transition: var(--transition);
  }
  .social-icons svg:hover {
    height: 1.5rem;
    width: 1.5rem;
    color: var(--clr-primary-3);
  }
  .text-block {
    padding-left: 21rem;
    padding-right: 21rem;
  }
  .img-container {
    position: relative;
    width: 600px;
    height: 400px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    transition: var(--transition);
  }
  .person-img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
    /* border-radius: 50%; */
    position: relative;
    transition: var(--transition);
  }
  iframe {
    width: 640px;
    height: 480px;
  }
}

.container {
  padding: 1rem;
}

.avatar {
  height: auto;
  width: auto;
  border-radius: 50%;
}

.theme-picker {
  /* justify-content: center; */
  align-items: center;
  display: flex;
  padding: 0.5rem;
  transition: var(--transition);
  /* position: sticky;
  top: 0; */
}

.hide-icon {
  display: none;
}

.footer {
  text-align: center;
  /* align-content: center; */
}
.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2.5rem;
}

.footer div {
  padding: 1rem;
}
.footer-social-icons {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}
/* .footer-social-icons a {
  text-decoration: none;
} */
.footer-social-icons li {
  list-style: none;
}
.footer svg {
  height: 2rem;
  width: 2rem;
  transition: var(--transition);
}

.footer svg:hover {
  color: var(--clr-primary-2);
  height: 2rem;
  width: 2rem;
}

.center {
  text-align: center;
}

.list {
  list-style-type: disc;
  margin-left: 4rem;
}

.prev-btn,
.next-btn {
  color: var(--clr-primary-7);
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
  padding: 3px;
}
.prev-btn svg {
  margin: 3px;
}
.next-btn svg {
  margin: 3px;
}
.prev-btn,
.next-btn svg:hover {
  margin: 3px;
}
.prev-btn:hover,
.next-btn:hover {
  background-color: var(--clr-primary-7);
  color: var(--clr-white);
  padding: 3px;
  border-radius: 50%;
}
